/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.page-header h1 { margin-bottom: 0; }
.page-header { margin-top: 0;}


.dataTables_filter input { height: 30px;}

.dataTables_paginate { display: none;}

.instructor_datatable ul {  list-style-type: none; margin-left: 2px; }

.table_filter { display: none; }

.has_electronic_copy {
  display: none;
  margin-left: 20px;
  margin-top: 10px;
}

#copy-overlay {
  display: none;
  padding: 25px 25px 5px 25px;
  position: fixed;
  right: 10px;
  bottom: 0px;
  background-color: white;
  border: 4px black solid;
}

.topic_form .topic_list label {
  display: block;
}

.topic_form .add_topic_input {
  width: 75%;
  height: 30px;
}

.complete_text { color: #468847;}
.missing_text { color: #f89406;}

.masquerade_text, .navbar .nav > li > a.masquerade_text { color: #f89406; }

.footer {
    border-top: 1px solid #B7A765;
    padding-top: 15px;
    margin-top: 50px;
    .columns {
        text-align:center;
    }
    .three {
        width:24%;
    }
    .six {
        width:43%;
    }
    p {
        font-size:12px;
    }
    img {
        vertical-align: baseline;
    }
}

body.empty {
  background-color: white;
}


.nav.pull-right:last-child {
  padding-right: 20px;
}

.navbar .brand {
  margin-left: 0px;
}

.navbar .nav > li > a.help {
  color: #0088cc;
}


#pg-title .pull-right {
  margin-top: 8px;
}



/*
 * Scrolling
 */
.dataTables_scroll {
  clear: both;
}

.dataTables_scrollBody {
  *margin-top: -1px;
  -webkit-overflow-scrolling: touch;
}


table.dataTable thead th {
  padding: 7px 20px 7px 10px;
  cursor: pointer;
  *cursor: hand;
}

table.dataTable tfoot th {
  padding: 3px 18px 3px 10px;
  border-top: 1px solid black;
  font-weight: bold;
}

.dl-horizontal.long-dt dt {
  width: 200px;
}

.dl-horizontal.long-dt dd {
  margin-left: 220px;
}

.help-block {
  font-style: italic;
  padding-left: 5px;
  margin-bottom: 15px;
}

.row {
  min-width: 0;
}

@media all {
  .page-break { }

  body.print { background-color: white; }
}

@media print {

  body { background-color: white; }

  .page-break { display: block; page-break-after: always; }


}


.print {
  .landscape {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    width:5in;
    height:5in;
    margin:0;
    padding:0;
    border:1px solid transparent;
    page-break-after:always;
  }

  .record_target {
    page-break-after:always;
  }

  .master_negative h1
  {
    margin-left:3in;
    border:1px solid transparent;
  }
}
