.landscape {
  width:5in;
  height:5in;
  margin:0;
  padding:0;
  border:1px solid transparent;
  page-break-after:always;
}



.paginated-collection ul {
  list-style-type:none;
  page-break-after:always;
}

