.landscape {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  width:5in;
  height:5in;
  margin:0;
  padding:0;
  border:1px solid transparent;
  page-break-after:always;
}



.paginated-collection ul {
  list-style-type:none;
  page-break-after:always;
}

