<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href="/">Siphon</a>
    <ul class="nav">
      <li><%= link_to 'Reformatting Books', reformattings_path() %></li>
    </ul>
  </div>
</div>

