<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Hesburgh Library Reserves</title>
    <meta name="description" content="Information resources and collections of the Hesburgh Libraries, University of Notre Dame." />

    <meta name="viewport" content="width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" sizes="128x128" href="http://library.nd.edu/icons/favicon-152.png">

    <%= stylesheet_link_tag    "hesburgh_assets/admin/1.0/index.css", :media => "all" %>
    <%= javascript_include_tag "application" %>

    <style>
/*      @media print { */
        .master_negative {
          height:612px;
        }
        .master_negative h1 {
          padding-top: 200px;
          text-align: center;
          font-size:5em;
          margin:0;
          line-height: 70px;
        }

        .volumn_page {
        }

        .record_target {

        }

        .page_break {
          page-break-after: always;
        }

        .record_target h1 {
          font-size: 1.75em;
          text-align: center;
          margin: 2px;
        }

        .record_target h2 {
          font-size: 1.33em;
          margin: 2px;
        }

        .record_target h3 {
          font-size: 1em;
          text-align: center;
          margin: 2px;
        }

        .record_target pre {
          border: none;
          background-color: #fff;
          line-height: 9px;
          font-size: 10px;
        }

        .print hr {
          margin: 5px;
        }

        h2 {
          font-size:2em;
          text-align: center;
        }

        ol li {
          line-height: 1.5em;
          font-size: 16px;
        }

        .volumn_page h3 {
          font-size:3em;
          padding-top: 100px;
          min-height: 300px;
        }

        .volumn_page h4 {
          font-size: 2.5em;
        }

/*      } */
<% if @landscape %>
      @page {
        size: landscape;
      }
<% end %>
      body {
        background-color: white
      }

    </style>

  </head>
  <body class="print">

    <%= yield %>

  </body>
</html>
